@tailwind base;
@tailwind components;
@tailwind utilities;

.backgroundHome {
  position: relative;
  overflow: hidden;
  height: 100vh; 
  width: 100%; 
}

.backgroundHome::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../assest/bgHome.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(2x);
  -webkit-filter: blur(1px); 
  z-index: -1;
}

.backgroundHome::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3); 
  z-index: -1;
}